@import "../variable.css";

.club_admin_section {
  background-color: #1f2937;
  flex-grow: 1;
  color: white;
}
.club_admin_section h4 {
  color: #d1d5db;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}

.club_admin_section .add_player {
  background-color: var(--btn-bg-cyan);
  font-size: var(--btn-font-size);
  padding: 10px 32px;
  width: 172px;
  font-weight: 700;
  height: 40px;
}
.club_admin_section .select {
  width: 274px;
  height: 40px;
  text-transform:uppercase;
  background: #374151;
  border-radius: 100px;
  padding: 4px 16px;
  color: #d1d5db;
  border: none;
  appearance: none;
  background-image: url('../Assets/Icons/select-icon.svg');
  background-position: 92%;
  background-repeat: no-repeat;
  width: 220px;
}



