.admin_club_sidebar {
  background-color: #374151;
  height: 90vh;
  width: 267px;
  color: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.admin_club_sidebar .nav-link {
  font-size: 20px;
  font-family: "Poppins";
  font-style: normal;
  line-height: 32px;
  color: white;
}

.admin_club_sidebar .active {
  background: #1f2937;
  border-radius: 8px;
}
.admin_club_sidebar .active span {
  background: linear-gradient(
    90deg,
    #06b6d4 0.17%,
    #14b8a6 49.16%,
    #fbbf24 100.17%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500;
}