@import "./variable.css";

.cursor_pointer {
    cursor: pointer;
}

.club_admin_table {
    color: #d1d5db;
    border-collapse: collapse;
    border: none;
}


.club_admin_table thead th {
    background-color: #374151;
    border: 4px solid #1f2937;
    font-weight: 500;
}

.club_admin_table tbody tr td {
    border: 4px solid #1f2937;
    vertical-align: middle;
}


.club_admin_table .basic {
    width: 16px;
    height: 16px;
    background: #9CA3AF;
    border-radius: 100px;
    margin-right: 8px;
}

.club_admin_table .circle {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-right: 8px;
}

.club_admin_table .basic {
    background: #9CA3AF;
}

.club_admin_table .limited :first-child {
    background: #10B981;
    display: inline-block;
}

.club_admin_table .limited :last-child {
    color: #10B981;
}

.club_admin_table .pro :first-child {
    background: #06B6D4;
    display: inline-block;
}

.club_admin_table .pro :last-child {
    color: #06B6D4;
}

.club_admin_table .legend :first-child {
    background: linear-gradient(90deg, #A855F7 -0.42%, #2DD4BF 99.58%);
    display: inline-block;
}

.club_admin_table .legend :last-child {
    background: linear-gradient(90deg, #A855F7 -0.42%, #2DD4BF 99.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.club_admin_table tbody tr .box {
    border-radius: 10px;
    width: 44px;
    height: 44px;
    padding: 10px;
}

.club_admin_table tbody tr:nth-child(even) {
    background: #374151;
}

.club_admin_table tbody tr:nth-child(odd) {
    background: #111827;
}

.club_admin_table .box {
    background-color: #4b5563;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.club_admin_table .name_box {
    background-color: #4b5563;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

