@import "./variable.css";

.cursor_pointer {
    cursor: pointer;
}

.club_admin_table {
    color: #d1d5db;
    border-collapse: collapse;
    border: none;
}


.club_admin_table thead th {
    background-color: #374151;
    border: 4px solid #1f2937;
    font-weight: 500;
}

.club_admin_table tbody tr td {
    border: 4px solid #1f2937;
    vertical-align: middle;
}


.club_admin_table .basic {
    width: 16px;
    height: 16px;
    background: #9CA3AF;
    border-radius: 100px;
    margin-right: 8px;
}

.club_admin_table .circle {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    margin-right: 8px;
}

.club_admin_table .basic {
    background: #9CA3AF;
}

.club_admin_table .limited :first-child {
    background: #10B981;
    display: inline-block;
}

.club_admin_table .limited :last-child {
    color: #10B981;
}

.club_admin_table .pro :first-child {
    background: #06B6D4;
    display: inline-block;
}

.club_admin_table .pro :last-child {
    color: #06B6D4;
}

.club_admin_table .legend :first-child {
    background: linear-gradient(90deg, #A855F7 -0.42%, #2DD4BF 99.58%);
    display: inline-block;
}

.club_admin_table .legend :last-child {
    background: linear-gradient(90deg, #A855F7 -0.42%, #2DD4BF 99.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.club_admin_table tbody tr .box {
    border-radius: 10px;
    width: 44px;
    height: 44px;
    padding: 10px;
}

.club_admin_table tbody tr:nth-child(even) {
    background: #374151;
}

.club_admin_table tbody tr:nth-child(odd) {
    background: #111827;
}

.club_admin_table .box {
    background-color: #4b5563;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.club_admin_table .name_box {
    background-color: #4b5563;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
}


.custom_modal {
    background-color: #1F2937;
    border-radius: 10px;
    width: 1142px !important;
    padding: 0px
}

.custom_modal .modal-body {
    padding: 15px;
}


.custom_modal .submit_player {
    font-size: var(--btn-font-size);
    color: var(--btn-text-dark-color);
    padding: 10px 6px;
    font-weight: 700;
    width: 190px;
    height: 48px;
    background-color: #2DD4BF;
    border-radius: 8px;
    text-transform: uppercase;
}

.custom_modal .submit_player_disabled {
    background: #6B7280 !important;
    cursor: none;
}

.custom_modal .season {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #9CA3AF;

}

.custom_modal .upload_img {
    font-size: var(--btn-font-size);
    color: var(--btn-text-dark-color);
    width: 201px;
    height: 48px;
    background: #374151;
    border-radius: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #F9FAFB;
    border-radius: 8px;
}

.custom_modal .file_instruction {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #D1D5DB;
}

.custom_modal label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9CA3AF;
}

.custom_modal input {
    /* height: 48px; */
    background: #4B5563;
    border: none;
    line-height: 24px;
    border-radius: 10px;

}

.custom_modal .select-dd {
    text-transform: uppercase;
    background: #4B5563;
    padding: 4px 16px;
    color: #9CA3AF;
    border: none;
    appearance: none;
    background-image: url('./Assets/Icons/arrow-down.svg');
    background-position: 98%;
    background-repeat: no-repeat;
    border-radius: 10px;
    font-size: 12px;
    line-height: 24px;
    height: 38px;

}

.custom_modal .dark_outlin_btn {
    width: 158px;
    height: 48px;
    background: #111827;
    border: 1px solid #2DD4BF;
    border-radius: 8px;
    text-transform: uppercase;
    color: #2DD4BF;
}

.custom_modal .dark_outlin_btn_full {
    width: 100%;
    height: 48px;
    background: #111827;
    border: 1px solid #2DD4BF;
    border-radius: 8px;
    text-transform: uppercase;
    color: #2DD4BF;
}



/* player_confirmation */
.player_confirmation h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.player_confirmation p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #F9FAFB;
}

.player_confirmation .go_back {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #E5E7EB;
    width: 189px;
    height: 56px;
    background: #4B5563;
    border-radius: 10px;
}

.player_confirmation .confirm {
    background: var(--btn-bg-cyan);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #374151;

}

.succes_confirmation .view_all_players {
    background: var(--btn-bg-cyan);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #374151;
}

.succes_confirmation h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.succes_confirmation .player_box {
    display: flex;
    align-items: center;
    width: 248.33px;
    height: 56px;
    background: #111827;
    border-radius: 14px;
    padding: 8px;
}

.succes_confirmation .player_img_box {
    width: 40px;
    height: 40px;
    background: #4B5563;
    border-radius: 4px;
    display: inline-block;

}

/* Delete player */
.delete_player_confirmation h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.delete_player_confirmation p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;

    /* Default/gray/300 */

    color: #D1D5DB;

}

.delete_player_confirmation .go_back {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #E5E7EB;
    width: 189px;
    height: 56px;
    background: #4B5563;
    border-radius: 10px;
}

.delete_player_confirmation .confirm {
    background: var(--btn-bg-cyan);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #374151;
    width: 252px;
}

.delete_player_confirmation .go_back {
    color: #EF4444;
}

.delete_player_confirmation .succces {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(90deg, #06B6D4 0.17%, #14B8A6 49.16%, #FBBF24 100.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}